@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica/HelveticaNeueRegular.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueRegular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica/HelveticaNeueBlackCond.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueBlackCond.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica/HelveticaNeueLight.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica/HelveticaNeueBold.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica/HelveticaNeueBold.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica/HelveticaNeueMedium.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica/HelveticaNeueHeavy.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica/HelveticaNeueItalic.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica/HelveticaNeueLight.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica/HelveticaNeueMedium.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica/HelveticaNeueThin.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Bold.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-LightItalic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-BoldItalic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-MediumItalic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Light.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Medium.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Italic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Regular.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Thin.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-ThinItalic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
/*======================================== config =================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #070039;
  transition: 0.3s all !important;
}
a:hover {
  color: #7FC3A7;
}

a:hover,
a:focus {
  text-decoration: none;
}

input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
}

body {
  max-width: 100%;
  color: #000000;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  font-family: "HelveticaNeue";
  font-weight: 300;
  background: #F4FEFD;
}
@media (max-width: 1400px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

.container {
  max-width: 1500px;
}
@media (max-width: 1700px) {
  .container {
    padding: 0 100px;
    max-width: 100%;
  }
}
@media (max-width: 1400px) {
  .container {
    padding: 0 60px;
  }
}
@media (max-width: 1023px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
}

.slick-slider {
  margin: 0;
}
.slick-slider img {
  display: inline;
}

/*======================================== end config =================================*/
.heaer-top {
  padding: 38px 0;
  font-family: Ogg;
  font-weight: normal;
  font-size: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #f4fefd;
}
@media (max-width: 1600px) {
  .heaer-top {
    padding: 24px 0;
  }
}
@media (max-width: 1200px) {
  .heaer-top {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .heaer-top {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .heaer-top {
    display: none;
  }
}
.heaer-top ul {
  list-style: none;
  display: flex;
  align-content: center;
}
.heaer-top ul li a {
  position: relative;
  display: flex;
  padding: 12px 28px;
  color: #000000;
}
@media (max-width: 1023px) {
  .heaer-top ul li a {
    padding: 6px 18px;
  }
}
.heaer-top ul li a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/cir-menu.png") no-repeat center;
  background-size: 100% 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s all !important;
}
.heaer-top ul li a.active:after, .heaer-top ul li a:hover:after {
  opacity: 1;
}

footer {
  position: relative;
  z-index: 3;
}

.footer-top {
  padding: 65px 0;
  background: #D7F9F5;
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}
@media (max-width: 1600px) {
  .footer-top {
    font-size: 24px;
  }
}
@media (max-width: 1400px) {
  .footer-top {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .footer-top {
    padding: 24px 0;
    font-size: 14px;
  }
}
.footer-top .content-fter {
  display: flex;
  align-items: flex-end;
}
.footer-top .content-fter .logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .footer-top svg {
    width: auto;
    height: 30px;
  }
}

main {
  margin-top: 137px;
}

section {
  position: relative;
  z-index: 2;
}

.box-banner {
  position: relative;
  z-index: 1;
}
.box-banner:after {
  content: "";
  width: 50%;
  background: #f4fefd;
  height: 20vh;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 137px;
}
@media (max-width: 1023px) {
  .box-banner:after {
    display: none;
  }
}
.box-banner:before {
  content: "";
  width: 50%;
  background: #f4fefd;
  height: calc(20vh + 137px);
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
}
@media (max-width: 1023px) {
  .box-banner:before {
    display: none;
  }
}

.content-banner {
  position: relative;
}
@media (max-width: 1023px) {
  .content-banner .col-md-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .content-banner .col-md-6:first-child {
    order: 2;
  }
  .content-banner .col-md-6:last-child {
    order: 1;
  }
}

.content-txt-banner {
  max-width: 600px;
  color: #16171C;
  font-size: 38px;
  font-family: Ogg;
  font-weight: normal;
  line-height: initial;
  letter-spacing: 0.025em;
  position: relative;
  padding-top: 32%;
  padding-bottom: calc(20vh + 137px);
}
@media (max-width: 1600px) {
  .content-txt-banner {
    font-size: 26px;
  }
}
@media (max-width: 1400px) {
  .content-txt-banner {
    font-size: 22px;
    padding: 0 24px 0 0;
  }
}
@media (max-width: 1023px) {
  .content-txt-banner {
    font-size: 18px;
    padding: 0;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .content-txt-banner {
    font-size: 16px;
  }
}
.content-txt-banner p {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .content-txt-banner p {
    margin-bottom: 10px;
  }
}
.content-txt-banner p:last-child {
  margin-bottom: 0;
}

.avarta-banner {
  height: calc(100vh - 137px);
  position: sticky;
  top: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px) {
  .avarta-banner {
    height: auto;
    top: 0;
    position: relative;
    margin-bottom: 40px;
  }
}
.avarta-banner .content-avr {
  position: relative;
}
.avarta-banner .content-avr .caption-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
@media (max-width: 1023px) {
  .avarta-banner .content-avr .caption-banner img {
    max-height: 150px;
  }
}

.line-text {
  padding: 150px 0;
  font-family: Ogg;
  font-size: 28px;
  font-weight: 400;
}
@media (max-width: 1600px) {
  .line-text {
    padding: 120px 0;
  }
}
@media (max-width: 1400px) {
  .line-text {
    padding: 80px 0;
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .line-text {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .line-text {
    font-size: 16px;
    padding: 60px 0;
  }
}
.line-text .item-line-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-text .item-line-text img {
  margin-right: 35px;
}
@media (max-width: 767px) {
  .line-text .item-line-text img {
    margin-right: 16px;
  }
}

.title-srv {
  color: #636363;
  font-size: 58px;
  line-height: 1.2;
  font-family: Ogg;
  margin-bottom: 32px;
}
@media (max-width: 1600px) {
  .title-srv {
    font-size: 50px;
  }
}
@media (max-width: 1400px) {
  .title-srv {
    font-size: 44px;
  }
}
@media (max-width: 1200px) {
  .title-srv {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .title-srv {
    font-size: 24px;
  }
}
.title-srv span {
  display: block;
  font-family: HelveticaNeue;
  font-style: italic;
  font-weight: 600;
  color: #901A11;
  text-transform: uppercase;
}

.item-srv {
  height: 100%;
  position: relative;
  max-width: 474px;
  margin: 0 auto;
  font-size: 18px;
}
@media (max-width: 1400px) {
  .item-srv {
    font-size: 16px;
  }
}
.item-srv .circle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.item-srv .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 1200px) {
  .item-srv .icon img {
    max-height: 110px;
  }
}
@media (max-width: 1023px) {
  .item-srv .icon img {
    max-height: 80px;
  }
}
@media (max-width: 767px) {
  .item-srv .icon img {
    max-height: 100px;
  }
}
.item-srv h3 {
  font-size: 38px;
  font-weight: normal;
  font-family: HelveticaNeue;
  margin-bottom: 24px;
  line-height: 1;
}
@media (max-width: 1600px) {
  .item-srv h3 {
    font-size: 26px;
  }
}
@media (max-width: 1400px) {
  .item-srv h3 {
    margin-bottom: 18px;
  }
}
@media (max-width: 1200px) {
  .item-srv h3 {
    font-size: 22px;
  }
}
@media (max-width: 1023px) {
  .item-srv h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .item-srv h3 {
    font-size: 26px;
  }
}
.item-srv h3 span {
  font-weight: normal;
  font-size: 42px;
  font-style: italic;
}
@media (max-width: 1600px) {
  .item-srv h3 span {
    font-size: 28px;
  }
}
@media (max-width: 1023px) {
  .item-srv h3 span {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .item-srv h3 span {
    font-size: 26px;
  }
}
.item-srv .info {
  padding: 145px 0 0 126px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1400px) {
  .item-srv .info {
    padding: 145px 0 0 94px;
  }
}
@media (max-width: 1200px) {
  .item-srv .info {
    padding: 110px 0 0 50px;
  }
}
@media (max-width: 1023px) {
  .item-srv .info {
    padding: 90px 0 0 0;
  }
}
@media (max-width: 767px) {
  .item-srv .info {
    padding: 100px 0 0 50px;
  }
}

.list-srv .row {
  margin: 0 -40px;
}
@media (max-width: 1023px) {
  .list-srv .row {
    margin: 0 -20px;
  }
}
.list-srv .row .col-md-4 {
  padding: 0 40px;
}
@media (max-width: 1023px) {
  .list-srv .row .col-md-4 {
    padding: 0 20px;
  }
}

.box-service {
  padding: 0 0 60px 0;
}
@media (max-width: 767px) {
  .box-service {
    padding: 0;
  }
}

.box-product {
  padding: 136px 0 76px 0;
}
@media (max-width: 1023px) {
  .box-product {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .box-product {
    padding: 60px 0;
  }
}

.title-pr {
  font-family: Ogg;
  color: #901A11;
  font-size: 64px;
  font-weight: normal;
  margin-bottom: 60px;
}
@media (max-width: 1600px) {
  .title-pr {
    font-size: 50px;
  }
}
@media (max-width: 1400px) {
  .title-pr {
    font-size: 44px;
  }
}
@media (max-width: 1200px) {
  .title-pr {
    font-size: 36px;
  }
}
@media (max-width: 1023px) {
  .title-pr {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .title-pr {
    font-size: 24px;
  }
}
.title-pr.title-cate {
  margin-bottom: 30px;
  line-height: 1;
}

.list-product {
  max-width: 1324px;
  margin: 0 auto;
}
.list-product .row {
  margin: 0 -27px;
}
@media (max-width: 1023px) {
  .list-product .row {
    margin: 0 -15px;
  }
}
@media (max-width: 767px) {
  .list-product .row {
    margin: 0 -7px;
  }
}
.list-product .row > div {
  padding: 0 27px;
}
@media (max-width: 1023px) {
  .list-product .row > div {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .list-product .row > div {
    padding: 0 7px;
  }
}
.list-product .row .col-md-3 {
  margin-bottom: 72px;
}
@media (max-width: 1023px) {
  .list-product .row .col-md-3 {
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .list-product .row .col-md-3 {
    margin-bottom: 32px;
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 1200px) {
  .list-product .all-prd img {
    max-height: 68px;
  }
}
@media (max-width: 1023px) {
  .list-product .all-prd img {
    max-height: 40px;
  }
}

.item-prd {
  font-family: Ogg;
  position: relative;
}
.item-prd .avarta {
  border: 1.5px solid #C1EDED;
  border-radius: 150px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px auto;
  width: 100%;
  transition: 0.3s all !important;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .item-prd .avarta {
    height: 300px;
  }
}
@media (max-width: 1100px) {
  .item-prd .avarta {
    height: 280px;
  }
}
@media (max-width: 1023px) {
  .item-prd .avarta {
    height: 220px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .item-prd .avarta {
    margin-bottom: 10px;
  }
}
.item-prd .avarta a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}
.item-prd h3 a {
  display: block;
  font-size: 28px;
  font-weight: normal;
}
@media (max-width: 1600px) {
  .item-prd h3 a {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .item-prd h3 a {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .item-prd h3 a {
    font-size: 14px;
  }
}
.item-prd:hover .avarta {
  border: 1px solid #901A11;
}
.item-prd .sale-off {
  position: absolute;
  z-index: 2;
  top: 72px;
  right: 6px;
}
.item-prd .per {
  position: absolute;
  background: #901A11;
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  width: 67px;
  height: 67px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  top: 0;
  right: 0;
  font-family: HelveticaNeue;
}

.box-about {
  padding: 88px 0 163px 0;
}
@media (max-width: 1023px) {
  .box-about {
    padding: 0 0 80px 0;
  }
}
@media (max-width: 767px) {
  .box-about {
    padding: 0 0 40px 0;
  }
}

.list-about {
  max-width: 1324px;
  margin: 0 auto;
}
.list-about .row {
  margin: 0 -31px;
}
@media (max-width: 1023px) {
  .list-about .row {
    margin: 0 -15px;
  }
}
.list-about .row .col-md-4 {
  padding: 0 31px;
}
@media (max-width: 1023px) {
  .list-about .row .col-md-4 {
    padding: 0 15px;
  }
}

.item-about {
  height: 100%;
  border: 1.5px solid #C1EDED;
  border-radius: 200px 200px 0px 0px;
  padding: 30px;
  font-size: 18px;
  overflow: hidden;
}
@media (max-width: 1400px) {
  .item-about {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .item-about {
    padding: 24px;
  }
}
@media (max-width: 1023px) {
  .item-about {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .item-about {
    font-size: 14px;
  }
}
.item-about h3 {
  font-size: 32px;
  font-family: Ogg;
  font-weight: normal;
  margin-bottom: 15px;
}
@media (max-width: 1600px) {
  .item-about h3 {
    font-size: 26px;
  }
}
@media (max-width: 1023px) {
  .item-about h3 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .item-about h3 {
    margin-bottom: 10px;
  }
}
.item-about .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s all !important;
  opacity: 0;
}
.item-about .avarta {
  margin-bottom: 26px;
  height: 360px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  border-radius: 200px 200px 0px 0px;
  transition: 0.3s all !important;
  animation-delay: 0.5s !important;
}
@media (max-width: 1200px) {
  .item-about .avarta {
    height: 300px;
  }
}
@media (max-width: 1100px) {
  .item-about .avarta {
    height: 260px;
  }
}
@media (max-width: 1023px) {
  .item-about .avarta {
    height: 180px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .item-about .avarta {
    height: 260px;
    margin-bottom: 15px;
  }
}
.item-about .avarta .avr {
  position: relative;
  z-index: 2;
}
@media (max-width: 1023px) {
  .item-about .avarta .avr {
    padding: 10px;
  }
}
.item-about:hover .circle {
  opacity: 1;
}
.item-about:hover .avarta {
  padding: 0 0 24px 0;
}

.new-big {
  display: flex;
  background: #EDF4F4;
  border-radius: 20px;
  overflow: hidden;
}
.new-big .avarta {
  flex: 0 0 50%;
  max-width: 50%;
}
.new-big .info {
  padding: 48px 40px;
}
@media (max-width: 1200px) {
  .new-big .info {
    padding: 26px;
  }
}
@media (max-width: 1023px) {
  .new-big .info {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .new-big .info {
    padding: 16px;
  }
}
.new-big .info a {
  display: block;
  color: #5C655A;
  font-family: "Ogg";
  font-size: 32px;
  margin-bottom: 8px;
}
@media (max-width: 1600px) {
  .new-big .info a {
    font-size: 24px;
  }
}
@media (max-width: 1200px) {
  .new-big .info a {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .new-big .info a {
    font-size: 18px;
  }
}
.new-big .info a:hover {
  color: #901A11;
}
@media (max-width: 767px) {
  .new-big .desc {
    display: none;
  }
}

.new-small {
  margin-bottom: 26px;
}
@media (max-width: 767px) {
  .new-small {
    margin: 14px 0 0 0;
  }
}
.new-small:last-child {
  margin-bottom: 0;
}
.new-small .avarta {
  margin-bottom: 10px;
}
.new-small h3 a {
  display: block;
  font-size: 30px;
  font-family: Ogg;
  font-weight: normal;
  color: #5C655A;
}
@media (max-width: 1600px) {
  .new-small h3 a {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .new-small h3 a {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .new-small h3 a {
    font-size: 16px;
  }
}
.new-small h3 a:hover {
  color: #901A11;
}

.title-news {
  color: #901A11;
  font-size: 54px;
  font-family: Ogg;
  margin-bottom: 52px;
  font-weight: normal;
}
@media (max-width: 1600px) {
  .title-news {
    font-size: 50px;
  }
}
@media (max-width: 1400px) {
  .title-news {
    font-size: 44px;
  }
}
@media (max-width: 1200px) {
  .title-news {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .title-news {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.view-all-blog {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .view-all-blog {
    margin-top: 24px;
    text-align: right;
  }
}
@media (max-width: 1200px) {
  .view-all-blog img {
    max-height: 68px;
  }
}
@media (max-width: 1023px) {
  .view-all-blog img {
    max-height: 45px;
  }
}

.box-diamond {
  padding: 140px 0 238px 0;
}
@media (max-width: 767px) {
  .box-diamond {
    padding: 100px 0;
  }
}

.content-diamond {
  max-width: 890px;
  margin: 0 auto;
  font-family: Ogg;
  font-size: 40px;
  font-weight: normal;
}
@media (max-width: 1600px) {
  .content-diamond {
    font-size: 32px;
  }
}
@media (max-width: 1200px) {
  .content-diamond {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .content-diamond {
    font-size: 18px;
  }
}
.content-diamond .icon {
  margin-bottom: 10px;
}

.content-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1023px) {
  .content-social {
    display: block;
  }
}
.content-social .title-sc {
  display: flex;
  align-items: center;
  color: #636363;
  font-size: 40px;
  font-weight: normal;
  font-family: Ogg;
  line-height: initial;
}
@media (max-width: 1600px) {
  .content-social .title-sc {
    font-size: 32px;
  }
}
@media (max-width: 1023px) {
  .content-social .title-sc {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .content-social .title-sc {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.content-social .title-sc .icon {
  position: relative;
  left: 25px;
}
@media (max-width: 1600px) {
  .content-social .title-sc .icon {
    left: 10px;
  }
}
@media (max-width: 767px) {
  .content-social .title-sc .icon {
    left: 0;
  }
}
@media (max-width: 767px) {
  .content-social .title-sc .icon img {
    width: 50px;
  }
}
.content-social .title-sc label {
  font-size: 40px;
  font-weight: BOLD;
  color: #901A11;
  font-style: italic;
  font-family: "HelveticaNeue";
  padding-left: 25px;
}
@media (max-width: 1600px) {
  .content-social .title-sc label {
    font-size: 32px;
  }
}

.list-social ul {
  list-style: none;
  display: flex;
  align-items: center;
}
@media (max-width: 1023px) {
  .list-social ul {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .list-social ul {
    display: block;
  }
}
.list-social ul li {
  margin-left: 30px;
}
@media (max-width: 767px) {
  .list-social ul li {
    margin: 0 0 11px 0;
    text-align: center;
  }
  .list-social ul li:last-child {
    margin: 0;
  }
}
.list-social a {
  display: flex;
  width: 222px;
  height: 66px;
  justify-content: center;
  align-items: center;
  border: 1px solid #26808D;
  color: #26808D;
  font-size: 22px;
  font-weight: 500;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 1600px) {
  .list-social a {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .list-social a {
    height: 50px;
    width: 180px;
    font-size: 16px;
    margin: 0 auto;
  }
}
.list-social a:hover {
  background: #26808D;
  color: #fff;
}

.box-gallery {
  padding: 180px 0;
}
@media (max-width: 767px) {
  .box-gallery {
    padding: 80px 0;
  }
}

.title-gall {
  margin-bottom: 64px;
  color: #26808D;
  font-size: 40px;
  font-weight: normal;
  font-family: Ogg;
  line-height: initial;
}
@media (max-width: 1200px) {
  .title-gall {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .title-gall {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.slide-gall {
  margin: 0 -3px;
}
.slide-gall .item-slide {
  padding: 0 3px;
}

.item-gall {
  overflow: hidden;
  border-radius: 12px;
}

.tab-top {
  margin-bottom: 120px;
}
.tab-top ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.tab-top ul li {
  margin-right: 60px;
}
.tab-top ul li:last-child {
  margin-right: 0;
}
.tab-top a {
  font-size: 36px;
  font-weight: normal;
  color: #636363;
  font-size: 20px;
}
.tab-top a.active {
  font-weight: bold;
  font-style: italic;
}

.box-banner-cate {
  padding: 124px 0;
  background: url("../images/banner-cate.png") no-repeat center;
  background-size: 100% 100%;
}

.content-banner-cate h1 {
  color: #901A11;
  font-family: Ogg;
  font-size: 64px;
  font-weight: normal;
}
.content-banner-cate h2 {
  color: #901A11;
  font-family: HelveticaNeue;
  font-style: italic;
  padding: 0 0 0 30px;
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

.product-preview {
  padding: 100px 140px;
  background: url("../images/banner-detail.png") no-repeat center;
  background-size: 100% 100%;
}

.txt-preview {
  color: #636363;
  font-weight: normal;
  max-width: 500px;
}
.txt-preview .desc {
  padding: 20px 0;
}
.txt-preview .trademark {
  color: #901A11;
}
.txt-preview h1 {
  color: #000000;
  font-size: 38px;
  font-weight: normal;
  font-family: Ogg;
}
.txt-preview .buynow {
  margin-top: 44px;
}

.slide-preview .slick-arrow {
  position: absolute;
  z-index: 2;
  top: calc(50% - 30px);
}
.slide-preview .slick-arrow.arr-right {
  right: 0;
}
.slide-preview .slick-arrow.arr-left {
  left: 0;
}
.slide-preview .slick-dots {
  bottom: -20px;
}
.slide-preview .slick-dots button {
  display: none !important;
}
.slide-preview .slick-dots li {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 1px solid #C4C4C4;
}
.slide-preview .slick-dots li.slick-active {
  border: 1px solid #901A11;
  background: #901A11;
}

.content-banner-blog {
  position: relative;
}
.content-banner-blog .caption-blog {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
  padding: 32px 32px 32px 126px;
}
.content-banner-blog .caption-blog h1 {
  font-weight: normal;
  font-size: 34px;
  max-width: 350px;
}

.avarta-banner-blog {
  position: relative;
}
.avarta-banner-blog .icon-banner {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-align: right;
  padding: 0 126px 0 0;
  align-items: center;
  height: 100%;
  max-width: 50%;
}
.avarta-banner-blog .icon-banner ul {
  list-style: none;
}
.avarta-banner-blog .icon-banner ul li {
  margin-bottom: 34px;
}
.avarta-banner-blog .icon-banner ul li:last-child {
  margin-bottom: 0;
}

.list-blog .col-md-4 {
  margin-bottom: 56px;
}

.item-blog {
  position: relative;
}
.item-blog .avarta {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  padding-top: 50.7399577167%;
  margin-bottom: 10px;
}
.item-blog .avarta img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s all !important;
}
.item-blog .avarta img:hover {
  transform: scale(1.04);
}
.item-blog h3 a {
  color: #5C655A;
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
}
.item-blog h3 a:hover {
  color: #901A11;
}

.box-blog {
  padding: 70px 0 0 0;
}
.box-blog .title-blog {
  color: #901A11;
  font-family: Ogg;
  margin-bottom: 55px;
  font-size: 40px;
  font-weight: normal;
  line-height: initial;
}

.content-detail {
  padding: 85px 0;
}
.content-detail .info-detail {
  max-width: 725px;
  margin: 0 auto 83px auto;
  line-height: 2;
}
.content-detail .info-detail p {
  margin-bottom: 32px;
}
.content-detail .info-detail img {
  max-width: 100%;
  height: auto !important;
}
.content-detail .info-detail h2, .content-detail .info-detail h3, .content-detail .info-detail h4, .content-detail .info-detail h5, .content-detail .info-detail h6 {
  color: #901A11;
  font-size: 40px;
  font-weight: normal;
  font-family: Ogg;
  margin-bottom: 32px;
}

/*# sourceMappingURL=style.css.map */
